DEV_FUNDS=""

# Account that will be funded with 1 billion RLS for testing.
# You must use --dev-funds to overide with your own account,
# must be prefixed with 0x and be a valid account.
BASEFEE_ADDRESS=""

# Indicates whether the network should create and start an observer node
HAS_OBSERVER="1"

# Epoch duration in seconds. If not set or not number, defaults to 86400 (1 day).
EPOCH_DURATION=86400

# Build mode (release or debug)
BUILD_CONFIG="release"

# Log level ("q", "v", "vv", "vvv", "vvvv" where "q" is for nothing and "vvvv" is for most verbose)
LOG_LEVEL=""

# Rayls network hardfork profile (devnet, testnet, mainnet).
# Overrides the `network` field in parameters.yaml at node startup.
RAYLS_NETWORK="devnet"
