DEVCONTAINER_DOCKER_NETWORK_NAME=""
USE_CACHE="1"
DO_NOT_USE_DEFAULT_DOCKER_NETWORK_IN_COMMITTEE="0"
UPGRADE_ONLY="0"
NETWORK_ADMIN_ADDRESS=0x91ec7A2be07A79D2eAB99135553b26F706099e9D
NETWORK_ADMIN_PRIVATE_KEY=XXXXXXX
RAYLS_NETWORK="testnet"
