NODE_RPCS=(
    "http://host.docker.internal:8544"
    "http://host.docker.internal:8543"
    "http://host.docker.internal:8542"
    "http://192.168.20.109:8545"
)
SSH_KEY_PATH=""
SSH_PASS=""
SSH_USER=""
USE_POSITIVE_CLOCK_SHIFT="0"
