NODE_RPCS=(
    "http://host.docker.internal:8546"
    "http://host.docker.internal:8547"
    "http://host.docker.internal:8548"
    "http://host.docker.internal:8549"
    "http://host.docker.internal:8550"
    "http://host.docker.internal:8551"
)

NETWORK_NAME="rayls-stack-network-eu"
CONTAINER_PREFIX="rayls-stack-node-client--node"
